@media (max-width: 500px) {
  .sub,
  .logo {
    display: none;
  }

  #container {
    display: grid;
    height: 100vh;
    width: 98vw;
    grid-template-areas:
      "hd"
      "main"
      "ft";
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 100px;
  }

  #container .header {
    grid-area: hd;
  }

  #container .main {
    grid-area: main;
    height: 90%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "ct" "sd";
    gap: 10px 0;
  }

  #container .main-blg {
    grid-area: main;
    height: 90%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "ct" "sd";
    gap: 10px 0;
  }

  #content blockquote {
    background-color: aliceblue;
    width: auto;
    margin-right: 0px;
  }

  #content figure {
    border: 1px solid burlywood;
    width: auto;
    margin-right: 0px;
  }

  #footer {
    grid-area: ft;
  }
}
